# **Advanced Machine Learning - Mini Project 1**

# **About Dataset** 

The Boston Housing dataset contains information about the housing values in suburbs of Boston.

In [1]:
#Import the Required Libraries 
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score

## Data Preprocessing - 5 marks

1. Import the dataset "BostonHousing.csv" (1 mark)

In [2]:
#Import the dataset by read the csv file using read_csv function  and display the dataset
bostondata = pd.read_csv("BostonHousing.csv")
bostondata.head(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
#Display the description of the Data in Detail
bostondata.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [4]:
#Display the datatype of dataset
bostondata.dtypes

crim       float64
zn         float64
indus      float64
chas         int64
nox        float64
rm         float64
age        float64
dis        float64
rad          int64
tax          int64
ptratio    float64
b          float64
lstat      float64
medv       float64
dtype: object

2. Remove all missing values from the dataset.

In [5]:
#Display the information about Dataset
bostondata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [6]:
#check if any missing value is available in the Dataset
#There is no missing value in the given dataset.
bostondata.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

3.Normalize the dataset by scaling all the features between 0 and 1.

In [7]:
#Normalize the dataset by using minmaxscaler
from sklearn.preprocessing import MinMaxScaler
minmax=MinMaxScaler()
bostondata_mm=minmax.fit_transform(bostondata)
bostondata_mm=pd.DataFrame(bostondata_mm)
bostondata_mm.columns=bostondata.columns
bostondata_mm.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,0.040544,0.113636,0.391378,0.069170,0.349167,0.521869,0.676364,0.242381,0.371713,0.422208,0.622929,0.898568,0.301409,0.389618
std,0.096679,0.233225,0.251479,0.253994,0.238431,0.134627,0.289896,0.191482,0.378576,0.321636,0.230313,0.230205,0.197049,0.204380
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000851,0.000000,0.173387,0.000000,0.131687,0.445392,0.433831,0.088259,0.130435,0.175573,0.510638,0.945730,0.144040,0.267222
50%,0.002812,0.000000,0.338343,0.000000,0.314815,0.507281,0.768280,0.188949,0.173913,0.272901,0.686170,0.986232,0.265728,0.360000
75%,0.041258,0.125000,0.646628,0.000000,0.491770,0.586798,0.938980,0.369088,1.000000,0.914122,0.808511,0.998298,0.420116,0.444444
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

4. Standardize the dataset by scaling all the features to have zero mean and unit variance.

In [8]:
#Standardize the dataset by using scalling 
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
#Fit the standarized data into Dataframe
bostondata_ss = sc.fit_transform(bostondata)
bostondata_ss = pd.DataFrame(bostondata_ss, columns = bostondata.columns)
bostondata_ss

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562,0.159686
1,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439,-0.101524
2,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727,1.324247
3,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517,1.182758
4,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501,1.487503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,-0.413229,-0.487722,0.115738,-0.272599,0.158124,0.439316,0.018673,-0.625796,-0.982843,-0.803212,1.176466,0.387217,-0.418147,-0.014454
502,-0.415249,-0.487722,0.115738,-0.272599,0.158124,-0.234548,0.288933,-0.716639,-0.982843,-0.803212,1.176466,0.441052,-0.500850,-0.210362
503,-0.413447,-0.487722,0.115738,-0.272599,0.158124,0.984960,0.797449,-0.773684,-0.982843,-0.803212,1.176466,0.441052,-0.983048,0.148802
504,-0.407764,-0.487722,0.115738,-0.272599,0.158124,0.725672,0.736996,-0.668437,-0.982843,-0.803212,1.176466,0.403225,-0.865302,-0.057989
505,-0.415000,-0.487722,0.115738,-0.272599,0.158124,-0.362767,0.434732,-0.613246,-0.982843,-0.803212,1.176466,0.441052,-0.669058,-1.157248

In [9]:
#Describe the Statndarized data values
bostondata_ss.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02
mean,-8.513173e-17,3.306534e-16,2.804081e-16,-3.100287e-16,-8.071058e-16,-5.189086e-17,-2.650493e-16,8.293761e-17,1.514379e-15,-9.934960e-16,4.493551e-16,-1.451408e-16,-1.595123e-16,-4.247810e-16
std,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00
min,-4.197819e-01,-4.877224e-01,-1.557842e+00,-2.725986e-01,-1.465882e+00,-3.880249e+00,-2.335437e+00,-1.267069e+00,-9.828429e-01,-1.313990e+00,-2.707379e+00,-3.907193e+00,-1.531127e+00,-1.908226e+00
25%,-4.109696e-01,-4.877224e-01,-8.676906e-01,-2.725986e-01,-9.130288e-01,-5.686303e-01,-8.374480e-01,-8.056878e-01,-6.379618e-01,-7.675760e-01,-4.880391e-01,2.050715e-01,-7.994200e-01,-5.994557e-01
50%,-3.906665e-01,-4.877224e-01,-2.110985e-01,-2.725986e-01,-1.442174e-01,-1.084655e-01,3.173816e-01,-2.793234e-01,-5.230014e-01,-4.646726e-01,2.748590e-01,3.811865e-01,-1.812536e-01,-1.450593e-01
75%,7.396560e-03,4.877224e-02,1.015999e+00,-2.725986e-01,5.986790e-01,4.827678e-01,9.067981e-01,6.623709e-01,1.661245e+00,1.530926e+00,8.065758e-01,4.336510e-01,6.030188e-01,2.685231e-01
max,9.933931e+00,3.804234e+00,2.422565e+00,3.668398e+00,2.732346e+00,3.555044e+00,1.117494e+00,3.960518e+00,1.661245e+00,1.798194e+00,1.638828e+00,4.410519e-01,3.548771e+00,2.989460e+00

5. Create a new feature that is the product of the "RM" and "DIS" features.

In [10]:
#Product of rm and dis column stored in a new variable  Pro_RIM_DS
bostondata['rm_dis'] = bostondata['rm'] * bostondata['dis']
bostondata['rm_dis']

0      26.891750
1      31.893749
2      35.688614
3      42.423276
4      43.326543
         ...
501    16.341410
502    13.999500
503    15.120480
504    16.230187
505    15.105150
Name: rm_dis, Length: 506, dtype: float64

## Modelling

6. Fit a linear regression model to the dataset using the "LSTAT" feature as the independent variable and "MEDV" as the dependent variable. Print the coefficients of the model.

In [11]:
# Select the "LSTAT" feature as the independent variable (X) 
# and the "MEDV" feature as the dependent variable (y) which is what we want to predict.
Inp_X = bostondata[['lstat']]
Out_y = bostondata['medv']

#Create a Linear Regression Object
lin_reg = LinearRegression()

In [12]:
#Fit the linear regression model using the inpendent and dependent variables
lin_reg.fit(Inp_X,Out_y)

print(lin_reg.coef_)
print(lin_reg.intercept_)

[-0.95004935]
34.55384087938311

7. Split the dataset into a training set and a testing set. Fit a linear regression model to the training set using the "LSTAT" feature as the independent variable and "MEDV" as the dependent variable. Evaluate the model on the testing set using the mean squared error (MSE) and R-squared (R2) metrics.

In [13]:
#Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(bostondata[["lstat"]], bostondata["medv"], test_size=0.4, random_state=44)

#Creating an instance of the Linear Regression Class
reg = LinearRegression()

#Fitting the model onto the training data
reg.fit(X_train, y_train)

#Evaluating the model on the testing data
y_pred = reg.predict(X_test)

#Evaluating the performance of the model on the testing data
mse = mean_squared_error(y_test, y_pred)
rS = r2_score(y_test,y_pred)

print("Mean Squared Error: ", mse)
print("R-squared: ", rS)

Mean Squared Error:  40.98170945216677
R-squared:  0.536477666224586

8. Fit a linear regression model to the dataset using all the features as independent variables and "MEDV" as the dependent variable. Print the coefficients of the model.

In [14]:
# Split the dataset into a training set and a testing set
X_train2, X_test2, y_train2, y_test2 = train_test_split(bostondata.drop("medv", axis=1), bostondata["medv"], test_size=0.6, random_state=46)

# Fit a linear regression model to the training data
reg.fit(X_train2, y_train2)

# Print the coefficients of the model
print("Coefficients:", reg.coef_)

Coefficients: [-1.30388086e-01  6.64738034e-02  5.54571451e-02  5.26609259e+00
 -1.92523963e+01  9.73044927e-01 -1.90833784e-02 -7.50583147e+00
  2.94281948e-01 -1.21593188e-02 -4.55237477e-01  1.00602038e-02
 -4.88509686e-01  8.95963243e-01]

9. Split the dataset into a training set and a testing set. Fit a linear regression model to the training set using all the features as independent variables and "MEDV" as the dependent variable. Evaluate the model on the testing set using the mean squared error (MSE) and R-squared (R2) metrics.

In [15]:
# Split the dataset into a training set and a testing set
X_train3, X_test3, y_train3, y_test3 = train_test_split(bostondata.drop("medv", axis=1), bostondata["medv"], test_size=0.3, random_state=42)

# Fit a linear regression model to the training data
reg.fit(X_train3, y_train3)

#Evaluating the model on the testing data
y_pred3 = reg.predict(X_test3)

#Evaluating the performance of the model on the testing data
mse = mean_squared_error(y_test3, y_pred3)
rS = r2_score(y_test3 ,y_pred3)

print("MSE: ", mse)
print("R-squared: ", rS)

MSE:  19.333654951783394
R-squared:  0.7405334618775277

10. Preprocess the dataset by converting the "MEDV" variable to a binary variable ("MEDV_binary") based on whether its value is above or below the median value, and splitting the dataset into a training set and a testing set.

In [16]:
#Converting "MEDV" to a binary variable based on if the value is above or below the median value
bostondata["medv_binary"] = np.where(bostondata["medv"] >= bostondata["medv"].median(), 1, 0)

# Split the preprocessed data into training and testing sets
X_train4, X_test4, y_train4, y_test4 = train_test_split(bostondata.drop(["medv", "medv_binary"], axis=1), bostondata["medv_binary"], test_size=0.6, random_state=47)

11. Fit a logistic regression model to the dataset using all the features except "MEDV" as the independent variables and "MEDV_binary" as the dependent variable. Print the coefficients of the model.

In [17]:
#Creating an instance of the Logisitic Regression Class
logreg = LogisticRegression(max_iter=5000)

# Fit a Logisitic regression model to the training data
logreg.fit(X_train4, y_train4)

# Print the coefficients of the model
print("Coefficients:", logreg.coef_)

Coefficients: [[-0.06279558  0.00725265  0.01950275  0.69967866 -0.65652773  1.17673433
  -0.05060852 -1.96252209  0.32622935 -0.01639287 -0.45168581  0.00718397
  -0.19329318  0.20504101]]

12. Evaluate the model from question 11 on the testing set using the accuracy and F1-score metrics.

In [18]:
# make predictions on the testing set
y_pred = logreg.predict(X_test4)

# calculate accuracy and F1-score
acc = accuracy_score(y_test4, y_pred)
f1 = f1_score(y_test4, y_pred)

print("Accuracy:", acc)
print("F1-score:", f1)

Accuracy: 0.868421052631579
F1-score: 0.863013698630137